<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to FlexSPA!</title>
</head>
<body>
    <h1>Hey, dude!</h1>
    <p>That's your password: <b>{{ password }}</b></p>
</body>
</html>
